<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="LOGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/EDI/logs/ibm/batch/batchCreate/batchCreate.log
		</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] [%X{submitterId}]
				%-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>/EDI/logs/ibm/batch/batchCreate/batchCreate.log.%i.zip
			</FileNamePattern>
			<MinIndex>0</MinIndex>
			<MaxIndex>9</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>
	<logger name="org.spring">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>

	<include file="/EDI/edi_config/logback_common.xml" />
</configuration>
